html, body, .app {
    height: 100vh;
    background: #8244FF;
    padding: 20px;
}

.menu {
    padding-bottom: 32px;
}

.messages {
    height: 69vh;
    max-width: 100% !important;
    overflow-y: scroll;
}

.messages__form {
    position: fixed !important;
    margin-left: 320px !important;
    left: 0;
    bottom: 16px;
    right: 16px;
    z-index: 200;
}

.message__self {
    border-left: 2px solid orange;
    padding-left: 8px;
}

.message__image {
    padding: 16px;
}

.progress__bar {
    margin: 0.3em 0 0 0 !important;
}

.color__container {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 35px;
    border-radius: 3px;
}

.color__square {
    width: 35px;
    height: 35px;
}

.color__overlay {
    width: 85px;
    height: 35px;
    transform: rotate(225deg);
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    /* max-width: 767px; */
    width: 100%;
    line-height: 1.4;
    padding: 110px 40px;
    text-align: center;
    background: #fff;
    -webkit-box-shadow: 0 15px 15px -10px rgb(0 0 0 / 10%);
    box-shadow: 0 15px 15px -10px rgb(0 0 0 / 10%);
}

.notfound .notfound-404 {
    position: relative;
    height: 70vh;
}

.notfound .notfound-404 h1 {
    font-family: roboto, sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 120px;
    font-weight: 700;
    margin: 0;
    color: #262626;
    text-transform: uppercase;
}

.notfound .notfound-404 h1>span {
    color: #00b7ff;
}

.notfound h2 {
    font-family: roboto, sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #151515;
    margin-top: 0;
    margin-bottom: 25px;
}

.user__typing {
    font-style: italic;
    font-weight: bold;
    margin-right: 3px;
}

.typing {
    width: 80px;
    height: 32px;
    position: relative;
    padding: 10px;
    margin-left: 5px;
    background: #e6e6e6;
    border-radius: 20px;
}

.typing__dot {
    float: left;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background: #8d8c91;
    border-radius: 50%;
    opacity: 0;
    animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
    animation-delay: 0s;
    ;
}

.typing__dot:nth-child(2) {
    animation-delay: 0.2s;
    ;
}

.typing__dot:nth-child(3) {
    animation-delay: 0.4s;
    ;
}

@keyframes loadingFade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}